/* ======== Global Style Settings ======== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid transparent;
}

*::selection {
    color: #0f0e17;
    background-color: darkorange;
}

body {
    background-color: #0f0e17;
    font-family: "Inter", system-ui, sans-serif;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    width: 90%;
    margin-inline: auto;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

/* ======== Loader ======== */
.loader-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    inset: 0;
    z-index: 9999999999;
    justify-content: center;
    align-items: center;
}

.loader {
    --color-1: #fff;
    --color-2: #ff8c00;
    --size: 2px;

    width: calc(48 * var(--size));
    height: calc(48 * var(--size));
    border: calc(3 * var(--size)) solid var(--color-1);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(56 * var(--size));
    height: calc(56 * var(--size));
    border-radius: 50%;
    border: calc(3 * var(--size)) solid;
    border-color: var(--color-2) transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ======== Navbar ======== */
nav {
    padding: 15px;
    color: white;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: -5px 10px 200px 10px rgba(255, 140, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .logo-header {
    width: 18%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container .logo-header .logo img {
    width: 2.5rem;
}

.container .logo-header h5 {
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        color: darkorange;
    }
}

.container .nav-links {
    width: 60%;
}

.container .nav-links ul {
    display: flex;
    justify-content: space-around;
}

.container .nav-links ul li a {
    color: white;
    font-size: 1.15rem;
    font-weight: 500;
    transition: all 0.2s;

    &:hover {
        color: darkorange;
    }
}

/* ======== Games Cards ======== */
.games-cards {
    margin: 50px 0px;
    color: white;
}

.games-cards .container {
    display: flex;
    flex-wrap: wrap;
}

.games-cards .container .outer-card {
    width: 25%;
    padding: 10px;
}

.games-cards .container .outer-card .inner-card {
    border: 2px solid rgba(255, 140, 0, 0.2);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        border: 2px solid darkorange;
        transform: scale(1.02);
    }

    &:hover .main figcaption .title span {
        background-color: darkorange;
    }
}

.games-cards .container .outer-card .inner-card:hover footer {
    border-top: 2px solid darkorange;
}

.outer-card .inner-card .main {
    padding: 10px;
}

.main figure img {
    border-radius: 10px;
}

.main figcaption .title {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.main figcaption .title span {
    padding: 5px;
    background-color: rgba(255, 140, 0, 0.2);
    border-radius: 7px;
    transition: all 0.2s;
}

.main figcaption p {
    color: #a5a5a5;
    text-align: center;
    overflow-wrap: break-word;
}

.outer-card .inner-card footer {
    padding: 10px;
    border-top: 2px solid rgba(255, 140, 0, 0.2);
    display: flex;
    justify-content: space-between;
    transition: all 0.2s;
}

.outer-card .inner-card footer span {
    padding: 5px;
    background-color: #32383E;
    border-radius: 7px;
}

/* ======== Game Details ======== */
.game-details {
    margin: 20px 0px;
    color: white;
}

.game-details .container header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-details .container header .close-btn {
    width: 3.125rem;
    height: 3.125rem;
    cursor: pointer;
    background-color: transparent;
}

.game-details .container .details-content {
    display: flex;
    justify-content: space-between;
}

.details-content .cover {
    width: 30%;
}

.details-content .details {
    width: 68%;
}

.details-content .cover .inner img {
    border: 2px solid rgba(255, 140, 0, 0.2);
    cursor: pointer;
    box-shadow: -5px 10px 150px 10px rgba(255, 140, 0, 0.1);
    transition: all 0.2s;

    &:hover {
        border: 2px solid darkorange;
    }
}

.details-content .details .inner h3 {
    font-size: 1.75rem;
}

.details .inner p {
    margin: 15px 0px;
}

.details .inner .specs {
    font-weight: 600;
}

.details .inner .specs span {
    padding: 5px;
    color: #0f0e17;
    background-color: darkorange;
    border-radius: 7px;
    font-size: 0.75rem;
    font-weight: 700;
}

.details .inner .specs span::selection {
    color: darkorange;
    background-color: #0f0e17;
}

.details .inner .desc {
    line-height: 1.6;
    font-size: 0.875rem;
}

.details .inner button {
    padding: 10px;
    color: white;
    background-color: transparent;
    border: 2px solid darkorange;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s;

    &:hover {
        color: #0f0e17;
        background-color: darkorange;
    }
}