/* ======== Global Style Settings ======== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid transparent;
}

*::selection {
    color: #0f0e17;
    background-color: darkorange;
}

body {
    background-color: #0f0e17;
    font-family: "Inter", system-ui, sans-serif;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    width: 90%;
    margin-inline: auto;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

/* ======== Loader ======== */
.loader-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    inset: 0;
    z-index: 9999999999;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.loader {
    --color-1: #fff;
    --color-2: #ff8c00;
    --size: 2px;

    width: calc(48 * var(--size));
    height: calc(48 * var(--size));
    border: calc(3 * var(--size)) solid var(--color-1);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(56 * var(--size));
    height: calc(56 * var(--size));
    border-radius: 50%;
    border: calc(3 * var(--size)) solid;
    border-color: var(--color-2) transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ======== Navbar ======== */
nav {
    padding: 15px;
    color: white;
    /* background: rgba(255, 255, 255, 0.15); */
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08), inset 0 1px 0px rgba(255, 255, 255, 0.2); */
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

nav .nav-inner {
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-inner .logo-header {
    width: 18%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-inner .logo-header .logo img {
    width: 2.5rem;
    cursor: pointer;
}

.nav-inner .logo-header h5 {
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        color: darkorange;
    }
}

.nav-inner .nav-links {
    width: 60%;
}

.nav-inner .nav-links ul {
    display: flex;
    justify-content: space-around;
}

.nav-inner .nav-links ul li a {
    color: white;
    font-size: 1.15rem;
    font-weight: 500;
    transition: all 0.2s;

    &:hover {
        color: darkorange;
    }
}

/* ======== Games Cards ======== */
.games-cards {
    margin: 50px 0px;
    color: white;
}

.games-cards .container {
    display: flex;
    flex-wrap: wrap;
}

.games-cards .container .outer-card {
    width: 25%;
    padding: 10px;
}

.games-cards .container .outer-card .inner-card {
    border: 2px solid rgba(255, 140, 0, 0.2);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        border: 2px solid darkorange;
        transform: scale(1.02);
    }

    &:hover .main figcaption .title span {
        background-color: darkorange;
    }
}

.games-cards .container .outer-card .inner-card:hover footer {
    border-top: 2px solid darkorange;
}

.outer-card .inner-card .main {
    padding: 10px;
}

.main figure img {
    border-radius: 10px;
}

.main figcaption .title {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.main figcaption .title span {
    padding: 5px;
    background-color: rgba(255, 140, 0, 0.2);
    border-radius: 7px;
    transition: all 0.2s;
}

.main figcaption p {
    color: #a5a5a5;
    text-align: center;
    overflow-wrap: break-word;
}

.outer-card .inner-card footer {
    padding: 10px;
    border-top: 2px solid rgba(255, 140, 0, 0.2);
    display: flex;
    justify-content: space-between;
    transition: all 0.2s;
}

.outer-card .inner-card footer span {
    padding: 5px;
    border-radius: 5px;
    background-color: #32383E;
}