/* ======== Global Style Settings ======== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid transparent;
}

body {
    font-family: "Inter", system-ui, sans-serif;
    background-color: black;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    width: 85%;
    margin-inline: auto;
}

/* ======== Navbar ======== */
nav {
    padding: 15px;
    color: black;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08), inset 0 1px 0px rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.nav-inner {
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-inner .logo-header {
    width: 18%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-inner .logo-header .logo img {
    width: 2.5rem;
    cursor: pointer;
}

.nav-inner .logo-header h5 {
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        color: darkorange;
    }
}

.nav-inner .nav-links {
    width: 60%;
}

.nav-inner .nav-links ul {
    display: flex;
    justify-content: space-around;
}

.nav-inner .nav-links ul li a {
    color: black;
    font-size: 1.15rem;
    font-weight: 500;
    transition: all 0.2s;

    &:hover {
        color: darkorange;
    }
}